body {
    margin: 0;
    min-height: 100vh;

    /* image + color mix */
    background:
      linear-gradient(
        rgba(102, 126, 234, 0.75),
        rgba(102, 126, 234, 0.75)
      ),
      url("bg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button{
    background-color:#ff9a3c;
    box-shadow: 0 10px 25px rgba(0,0,0,0.8);
    width:60px;
   
}

h3 {
    text-align:center;
    margin-top:20px;
    font-size:1.7em;
}

.submit {
    text-align:center;
}