<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>update successfuly</title>
    <link
      rel="stylesheet"
      href="{{url_for ('static' , filename = 'update_succ.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for ('static' , filename = 'common.css') }}"
    />
  </head>
  <body>
    <h3>Your Details are Updated successfully</h3>
    <div class="submit">
      <a href="home_page.html"
        ><button class="button" type="button">Home page</button></a
      >
    </div>
  </body>
</html>
